@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* Set background image to cover full screen */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background: url(./assets/image1.png) no-repeat center center fixed;
  background-size: cover;
}
.logo-name {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  color: #242424 !important;
  font-size: 40px !important;
  opacity: 90%;
}
.items{
  color: bisque !important;
  text-decoration: none;
  margin: 10px 15px;
  font-size: large;
}
.items:hover {
  color: red !important;
}

.home-container {
  /* Ensure the section also takes full height */
  width: 100vw;
  height: 100vh;
  background: inherit; /* Use the same background as the root */
}
.hero-sec {
  margin: auto;
  margin-top: 160px !important;
  color: white;
  width: 70vw;
  height: fit-content;
}
.hero-detail {
  padding: 0 30px;
}
