@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* Set background image to cover full screen */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background: url(./assets/image1.png) no-repeat center center fixed;
  background-size: cover;
}
.logo-name {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  color: #242424 !important;
  font-size: 40px !important;
  opacity: 90%;
}
.items {
  color: bisque !important;
  text-decoration: none;
  margin: 10px 15px;
  font-size: large;
  transition: color 0.3s ease-in-out;
}

.items:hover {
  color: white !important;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background: inherit; /* Use the same background as the root */
}
.hero-sec {
  margin: auto;
  margin-top: 170px !important;
  color: white;
  width: 70vw;
  height: fit-content;
}
.hero-heading h1 {
  font-weight: bold;
  font-size: 69px;
}
.hero-detail {
  padding: 10px 30px;
}
/* button code start from here  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-out;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  isolation: isolate;
  z-index: 5;
}

.mybutton {
  width: 270px;
  margin-top: 20px;
  margin: auto;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 72px;
  border-radius: 9999rem;
  background: color-mix(in oklab, black, transparent 95%);
  backdrop-filter: blur(6px);
  position: relative;
  box-shadow: 0 -1px 0 0 color-mix(in oklab, white, transparent 50%),
    0 1px 0 0 color-mix(in oklab, white, transparent 50%),
    -1px 0 0 0 color-mix(in oklab, black, transparent 50%),
    1px 0 0 0 color-mix(in oklab, black, transparent 50%);

  &::before {
    content: "";
    border-radius: inherit;
    background: color-mix(in oklab, black, transparent 90%);
    position: absolute;
    inset: 0;
    transform: translate(0, 12px);
    filter: blur(6px);
    z-index: -1;
  }

  &:hover {
    scale: 1.1;
    transition: scale 200ms ease-out;

    &::before {
      background: color-mix(in oklab, black, transparent 95%);
    }
  }

  &:active {
    scale: 0.9;
    transition: scale 100ms ease-out;

    &::before {
      background: color-mix(in oklab, black, transparent 85%);
    }
  }
}
/*---------------- About section----------------- */
.about-container {
  width: 100vw;
  color: white;
}
.about-container h2 {
  color: white;
  font-weight: bolder;
  font-size: 36px;
}
.about-cards {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.mycard {
  width: 300px;
  border: 1px solid #4746468a;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.2)
  );

  border-radius: 10px 30px 10px 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in;
}
.mycard:hover {
  scale: 1.01;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}
/* -------------Contact page------------  */
.contact-container {
  height: 100vh;
}
.contact-form {
  padding: 10px 0px;
  border-radius: 20px 10px 20px 10px;
  border: 1px solid #4746468a;
  max-width: 350px;
  background: linear-gradient(
    70deg,
    (rgba(0, 0, 0, 0.2)),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
  transition: all 0.6s ease-in;
}
.contact-form:hover {
  scale: 1.01;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}
.contact-form input,
.contact-form textarea,
.contact-form button {
  background: transparent;
  outline: none;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px 10px 5px 10px;
}
.contact-form button {
  color: white;
  font-size: large;
  font-weight: bold;
  transition: all 0.5s ease-in;
}
.contact-form button:hover {
  background-color: wheat;
  color: black;
  font-size: large;
  font-weight: bold;
}
/* --------------coutry section----------------  */
.country-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.countryCard {
  width: 300px;
  border: 1px solid #4746468a;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 10px 30px 10px 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in;
}
.countryCard:hover {
  scale: 1.01;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}
.countryCard img {
  width: 100%;
  height: auto;
  max-height: 130px;
  border-radius: 12px;
  object-fit: cover;
}
.countryCard button {
  background: transparent;
  outline: none;
  color: white;
  padding: 5px 10px;
  /* margin: 10px auto; */
  width: 50%;
  border: 1px solid white;
  border-radius: 5px 10px 5px 10px;
  font-size: medium;
  font-weight: bold;
  transition: all 0.5s ease-in;
}
.countryCard button:hover {
  background-color: wheat;
  color: black;
  font-weight: bold;
}
/* country details */
.country-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(
    70deg,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0, 2)
  );
  backdrop-filter: blur(10px);
  color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
  max-width: 900px;
  margin: auto;
}

/* Left Side - Flag */
.country-flag {
  flex: 2;
  max-width: 60%;
  text-align: center;
}

.country-flag img {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 12px;
}

/* Right Side - Info */
.country-info {
  flex: 1;
  padding-left: 30px;
  line-height: 45px;
  font-size: 18px;
}

.country-info h2 {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 12px;
}

.country-info p {
  font-size: 18px;
  margin: 6px 0;
}

.country-info button {
  background: transparent;
  outline: none;
  color: white;
  padding: 2px 10px;
  width: 50%;
  border: 1px solid white;
  border-radius: 5px 10px 5px 10px;
  font-size: medium;
  font-weight: bold;
  transition: all 0.5s ease-in;
}
.country-info button:hover {
  background-color: wheat;
  color: black;
  font-weight: bold;
}
/* ------  */

/* --------------Search param------------  */
.searchParam{
  margin: 10px 0px;
}
.searchInput input,
.selectSearch select{
  outline: none;
  padding: 10px 20px;
  background-color: black;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px 10px 5px 10px;
}
.paramButton{
  outline: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  /* width: 100%; */
  border: 1px solid white;
  border-radius: 5px 10px 5px 10px;
}

.loader {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0,
    calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0, calc(-5 * var(--w)) 0,
    calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0,
    calc(-9 * var(--w)) 0;
  animation: l16 2s infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l16 {
  20% {
    text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
      calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0 #ffa516,
      calc(-5 * var(--w)) 0 #63fff4, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
  }
  40% {
    text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
      calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
      calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0 orange,
      calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
  }
  60% {
    text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0,
      calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
      calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0 yellow, calc(-8 * var(--w)) 0 #ffa516,
      calc(-9 * var(--w)) 0 red;
  }
  80% {
    text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0 yellow,
      calc(-3 * var(--w)) 0 #63fff4, calc(-4 * var(--w)) 0 #ffa516,
      calc(-5 * var(--w)) 0 red, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0 grey, calc(-8 * var(--w)) 0 #63fff4,
      calc(-9 * var(--w)) 0;
  }
}
