/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
  .hero-sec{
    width: 90vw;
  }
  .hero-detail {
    padding: 10px 10px;
  }
  .hero-heading h1{
    font-weight: bold;
    font-size: 39px;
  }
  }
  
  /* Small Devices (Phones & Tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
   
  }
  
  /* Medium Devices (Tablets & Small Laptops) */
  @media (min-width: 769px) and (max-width: 992px) {
   
  }
  
  /* Large Devices (Desktops & Laptops) */
  @media (min-width: 993px) and (max-width: 1200px) {
   
  }
  
  /* Extra Large Devices (Big Screens) */
  @media (min-width: 1201px) {
   
  }
  